<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"/>
<sly data-sly-use.student="com.adobe.aem.sample.site.core.models.StudentModel"/>


<div  class="pass-section" data-sly-test="${student.pass}">
    <h2 >Pass Student<h2>
        <div  data-sly-list.obj="${student.passStudentList}">

            <div class="aaaaa">
                <h3>Name :${obj.firstname}</h3>
                <h3>LastName :${obj.lastname}</h3>
                <h3>Phone :${obj.phonenumber}</h3>
                <h3>Science :${obj.scienceMarks}</h3>
                <h3>Math :${obj.MathsMarks} </h3>
                <h3>Hindi :${obj.hindiMarks}</h3>
                <h3>socialScience :${obj.socialScienceMarks} </h3>
            </div>

        </div>
</div>
<div class="fail-section" data-sly-test="${student.fail}">
    <h2>Fail Student<h2>
        <div data-sly-list.obj="${student.failStudentList}">

            <div class="aaaaa">
                <h3>Name :${obj.firstname}</h3>
                <h3>LastName :${obj.lastname}</h3>
                <h3>Phone :${obj.phonenumber}</h3>
                <h3>Science :${obj.scienceMarks}</h3>
                <h3>Math :${obj.MathsMarks} </h3>
                <h3>Hindi :${obj.hindiMarks}</h3>
                <h3>socialScience :${obj.socialScienceMarks} </h3>
            </div>

        </div>
</div>



<sly data-sly-call="${templates.placeholder @ isEmpty = !isAuthored, classAppend='cmp-text'}"></sly>

