
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #555;
    margin: 0.5em 0;
}

.teacher-detail-container
{
 max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.student-detail-container
{
 max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.teacher-detail-container h2,
.student-detail-container h2 {
    font-size: 1.2em;
    border:10px
    margin-bottom: 10px;
}

img {
    display: block;
    max-width: 100%;
    height: 300px;
    width: 800px:
    margin: 10px 0;
}

